body {
    color: #FBFBFB;
    background-color: #000000;
    font-family: IntelOneMono, 'Consolas', serif;
}

@font-face {
    font-family: IntelOneMono;
    src: url(IntelOneMono-Regular.woff2);
}

a {
    color: #5FB49C
}

a:visited {
    color: #00635D
}

img {
    max-width: 100%;
    max-height: 100%;
}

.moveable {
    position: absolute;
    z-index: 10;
    background-color:darkslategray;
    text-align: center;
    cursor: move;
    border: 1px solid #FBFBFB;
    padding: 5px;
}

.moveable1 {
    position: absolute;
    z-index: 10;
    background-color:darkslategray;
    text-align: center;
    cursor: move;
    border: 1px solid #FBFBFB;
    padding: 5px;
}

.moveable2 {
    position: absolute;
    z-index: 10;
    background-color:darkslategray;
    text-align: center;
    cursor: move;
    border: 1px solid #FBFBFB;
    padding: 5px;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 45px;
    margin-top: 30px;
}

button {
    font-family: IntelOneMono, 'Consolas', serif;
    cursor: pointer;
}

details {
    padding-left: 20px;
    display: block;
    line-height: 1.5em;
    font-size: 24px;
}

details summary {
    cursor: pointer;
}

@keyframes details-show {
    from {
      opacity:0;
    }
  }

details[open] > *:not(summary) {
    animation: details-show 500ms;
  }