body {
    color: #CFBCDF;
    background-color: #040F0F;
    font-family: 'Consolas', serif;
    font-size: 24px;
}

a {
    color: #4E8098
}

a:visited {
    color: #B74F6F
}

details {
    padding-left: 25px;
}