body {
    color: #FBFBFB;
    background-color: #000000;
    font-family: 'Consolas', serif;
    font-size: 24px;
}

a {
    color: #3772FF
}

a:visited { 
    color: #9E4770
}

details {
    padding-left: 25px;
}